:root {
    --main-bg: #1ABC9C;
    --secondary-bg: #2C3E50;
}

.navbar-bg {
    background-color: var(--secondary-bg) !important;
}

.nav-link-active:is(.active) {
    background-color: var(--main-bg);
    width: fit-content !important;
}

.bg-main {
    background-color: var(--main-bg);
}

.bg-alter {
    background-color: var(--secondary-bg);
}

.nav-pos {
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
}

.white-line {
    background-color: white;
    height: 4px;
    width: 80px;
}
.icon-container {
    border: 1px solid white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}